In [2]:
#Importing the Libraries  
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [14]:
#Importing Dataset
sales_data= pd.read_csv(r'sample_sales_data.csv')

In [6]:
sales_data.shape

(7829, 10)

In [8]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7829 entries, 0 to 7828
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      7829 non-null   int64
 1   transaction_id  7829 non-null   object
 2   timestamp       7829 non-null   object
 3   product_id      7829 non-null   object
 4   category        7829 non-null   object
 5   customer_type   7829 non-null   object
 6   unit_price      7829 non-null   float64
 7   quantity        7829 non-null   int64
 8   total           7829 non-null   float64
 9   payment_type    7829 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 611.8+ KB

In [9]:
sales_data.head()

,Unnamed: 0,transaction_id,timestamp,product_id,category,customer_type,unit_price,quantity,total,payment_type
0,0,a1c82654-c52c-45b3-8ce8-4c2a1efe63ed,2022-03-02 09:51:38,3bc6c1ea-0198-46de-9ffd-514ae3338713,fruit,gold,3.99,2,7.98,e-wallet
1,1,931ad550-09e8-4da6-beaa-8c9d17be9c60,2022-03-06 10:33:59,ad81b46c-bf38-41cf-9b54-5fe7f5eba93e,fruit,standard,3.99,1,3.99,e-wallet
2,2,ae133534-6f61-4cd6-b6b8-d1c1d8d90aea,2022-03-04 17:20:21,7c55cbd4-f306-4c04-a030-628cbe7867c1,fruit,premium,0.19,2,0.38,e-wallet
3,3,157cebd9-aaf0-475d-8a11-7c8e0f5b76e4,2022-03-02 17:23:58,80da8348-1707-403f-8be7-9e6deeccc883,fruit,gold,0.19,4,0.76,e-wallet
4,4,a81a6cd3-5e0c-44a2-826c-aea43e46c514,2022-03-05 14:32:43,7f5e86e6-f06f-45f6-bf44-27b095c9ad1d,fruit,basic,4.49,2,8.98,debit card

In [19]:
#Missing Values Check
sales_data.isnull().sum()

transaction_id    0
timestamp         0
product_id        0
category          0
customer_type     0
unit_price        0
quantity          0
total             0
payment_type      0
dtype: int64

In [29]:
#Duplicate Values Check
sales_data.duplicated().sum()

0

In [15]:
#Dropping Unnecessary Columns
sales_data= sales_data.drop('Unnamed: 0',axis=1)

In [17]:
#Converting to Timestamp
sales_data.timestamp = pd.to_datetime(sales_data.timestamp)

In [55]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7829 entries, 0 to 7828
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction_id  7829 non-null   object
 1   timestamp       7829 non-null   datetime64[ns]
 2   product_id      7829 non-null   object
 3   category        7829 non-null   object
 4   customer_type   7829 non-null   object
 5   unit_price      7829 non-null   float64
 6   quantity        7829 non-null   int64
 7   total           7829 non-null   float64
 8   payment_type    7829 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 550.6+ KB

In [30]:
sales_data.head()

,transaction_id,timestamp,product_id,category,customer_type,unit_price,quantity,total,payment_type
0,a1c82654-c52c-45b3-8ce8-4c2a1efe63ed,2022-03-02 09:51:38,3bc6c1ea-0198-46de-9ffd-514ae3338713,fruit,gold,3.99,2,7.98,e-wallet
1,931ad550-09e8-4da6-beaa-8c9d17be9c60,2022-03-06 10:33:59,ad81b46c-bf38-41cf-9b54-5fe7f5eba93e,fruit,standard,3.99,1,3.99,e-wallet
2,ae133534-6f61-4cd6-b6b8-d1c1d8d90aea,2022-03-04 17:20:21,7c55cbd4-f306-4c04-a030-628cbe7867c1,fruit,premium,0.19,2,0.38,e-wallet
3,157cebd9-aaf0-475d-8a11-7c8e0f5b76e4,2022-03-02 17:23:58,80da8348-1707-403f-8be7-9e6deeccc883,fruit,gold,0.19,4,0.76,e-wallet
4,a81a6cd3-5e0c-44a2-826c-aea43e46c514,2022-03-05 14:32:43,7f5e86e6-f06f-45f6-bf44-27b095c9ad1d,fruit,basic,4.49,2,8.98,debit card

In [56]:
#TimeStamp Features
ts_features= [feature for feature in sales_data.columns if sales_data[feature].dtypes == 'datetime64[ns]']
ts_features

['timestamp']

In [47]:
#Categorical Features
cat_features= [feature for feature in sales_data.columns if sales_data[feature].dtypes == 'O']
cat_features

['transaction_id', 'product_id', 'category', 'customer_type', 'payment_type']

In [62]:
#Numerical Features
num_features= [feature for feature in sales_data.columns if sales_data[feature].dtypes != 'O' and sales_data[feature].dtypes != 'datetime64[ns]']
num_features

['unit_price', 'quantity', 'total']